
.news_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    &_sort{
        display: flex;
        align-items: center;
        p{
            margin-right: 10px;
        }
    }
    >*{
        margin-bottom: 20px;
    }
}
