.news_item{
    background-color: #f2f2f2;
    box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.16);
    display: block;
    border-radius: 10px;
    height: 100%;
    &:hover{
        box-shadow: -1px 1px 26px 2px rgba(0,0,0,0.39);
    }
    cursor: pointer;
        &_img{
            max-height: 150px;
            overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
    p{
        margin-top: 15px;
    }
}

    .news_item_text{
        padding: 10px;
        position: relative;
        z-index: 2;
    }

    @media(max-width:1199.9px){
        .news_item_img{
            max-height: 200px;
        }
    }
    @media(max-width:767.9px){
        .news_item_img{max-height:none}
    }