.just_btwn{
    display: flex;
}
.news_item{
    margin: 10px;
    margin-bottom: 30px;
    padding:  15px;
    width: 40%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -1px 2px 21px 3px rgba(0,0,0,0.36);
    &:hover{
        box-shadow: -1px 1px 36px 3px rgba(0,0,0,0.59);
    }
    cursor: pointer;
        &_img{
        flex-shrink: 0;
        img{
            width: 100%;
            height: auto;
        }
    }
    p{
        margin-top: 15px;
    }
}
.news_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.news_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    &_sort{
        margin-left: 30px;
        display: flex;
        align-items: center;
        p{
            margin-right: 10px;
        }
    }
}
main{
    padding-top: 40px;
}

.news_search{
    display: flex;
    align-items: flex-end;
    input{
        border: none;
        border-bottom: 1px solid #333;
        margin-right: 10px;
        padding: 5px;
    }
}
.liked_news{
    width: 50%;
}