main{
    padding: 40px;
    width: 100vw;
}
.black_btn{
    padding: 10px 25px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.log_form{ 
    max-width: 500px;
label{
    display: block;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    span{
        margin-right: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
input{
    border: none;
    padding: 2px  5px;
    border-bottom : 1px solid #333;
}
}

.like_label{
    position: relative;
    cursor: pointer;
    input{
        position: absolute;
        left: 0%;
        top: 0;
        opacity: 0;
        z-index: -1;
    }
}

.liked_list{
    display: flex;
    flex-wrap: wrap;
}
