main{
    width: 100vw;
}
.black_btn{
    padding: 10px 25px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.log_form{ 
    max-width: 500px;
label{
    display: block;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    span{
        margin-right: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
input{
    border: none;
    padding: 2px  5px;
    border-bottom : 1px solid #333;
}
}

.like_label{
    position: relative;
    cursor: pointer;
    input{
        position: absolute;
        left: 0%;
        top: 0;
        opacity: 0;
        z-index: -1;
    }
}

.liked_list{
    display: flex;
    flex-wrap: wrap;
}
textarea{
    resize: none;
    display: block;
    
}
.add_comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea{
        margin-top: 20px;
    }
}
.comments{
    li{
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        border: 1px solid #333;
        padding: 10px;
        border-radius: 10px;
        list-style: none;
        margin-bottom: 10px;
        font-size: 12px;
        >div{
            >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2px;
            font-size: 12px;
            }
            >p{
                color: grey;
                font-size: 8px;
            }
        }
        >p{
            margin-top: 20px;
        }
    }
}